# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_tflow_190_select
absl-py
appdirs
asn1crypto
astor
attrs
automat
backcall
blas
bleach
ca-certificates
cairo
certifi
cffi
constantly
cryptography
cryptography-vectors
cycler
dbus
decorator
entrypoints
expat
fontconfig
freetype
fribidi
gast
glib
gmp
graphite2
graphviz
grpcio
gst-plugins-base
gstreamer
gxx_linux-64
h5py
harfbuzz
hdf5
html5lib
hyperlink
icu
idna
incremental
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
Jinja2
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_contrib_core
jupyter_contrib_nbextensions
jupyter_core
jupyter_highlight_selected_word
jupyter_latex_envs
jupyter_nbextensions_configurator
keras
keras-applications
keras-base
keras-preprocessing
kiwisolver
libedit
libffi
libgcc-ng
libgfortran-ng
libgpuarray
libpng
libprotobuf
libsodium
libstdcxx-ng
libtiff
libuuid
libxcb
libxml2
libxslt
lxml
mako
markdown
markupsafe
matplotlib
mistune
mkl
mkl-service
mkl_fft
mkl_random
nbconvert
nbformat
ncurses
notebook>
numpy
numpy-base
openssl
pandas
pandoc
pandocfilters
pango
parso
patsy
pcre
pexpect
pickleshare
pip
pixman
prometheus_client
prompt_toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pygments
pygpu
pyopenssl
pyparsing
pyqt
python
python-dateutil
python-graphviz
pytz
pyyaml
pyzmq
qt
qtconsole
readline
scikit-learn
scipy
seaborn
send2trash
service_identity
setuptools
simplegeneric
sip
six
sqlite
statsmodels
tensorboard
tensorflow
tensorflow-base
termcolor
terminado
testpath
theano
tk
tornado
traitlets
tslearn
twisted
wcwidth
webencodings
werkzeug
wheel
widgetsnbextension
xlrd
xz
yaml
zeromq
zlib
zope
zope.interface
